<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <%- include('../includes/_head') %>

  <body>
    <!-- HEADER -->
    <header class="h-100 w-100 bg-white" style="box-sizing: border-box">
        <%- include('../includes/_header') %>
    </header>
    <!-- CONTENT -->
    <main class="h-100 w-100" style="box-sizing: border-box; background-color: #f2f6ff">
        <!-- HERE your content -->
    </main>

    <!-- FOOTER -->
    <footer class="h-100 w-100 bg-white" style="box-sizing: border-box">
        <%- include('../includes/_footer') %>
    </footer>
    <!-- FOOTER -->
  </body>
</html>